img{
    float: right;
    
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: brown;
    font-style: italic;
    font-size: 50px;
}
.important{
    color:green;
}
.unimportant{
    color:brown;
}
.important {
    width: 25%;
    float: left;
  
  }
.column{
    float: right;
}
.test-box{
    border:2px solid red;
}